@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}
.desktop {
    display: none;
}
.container {
    max-width: 375px;
}
header {
    padding: 2rem;
}
header img {
    width: 7rem;
}
h1 {
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    color:  hsl(0, 6%, 24%);
    margin: 2rem 0 1rem 0
}
h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
article {
    text-align: center;
    padding: 1.3rem;
}
article p {
    color: hsl(0, 36%, 70%);
    line-height: 1.55;
    margin: 1rem 0 2rem 0;
}
input[type=text] {
    padding: 1rem 2rem;
    font-family: inherit;
    width: 100%;    
    border-radius: 50px;
    border: 1.5px solid hsla(0, 6%, 24%, 0.303);
    background-color: transparent;
}
input[type=text]:focus {
    background-color: transparent;
    outline: 2px solid hsla(0, 5%, 66%, 0.7);
}
input[type=text]::placeholder {
    color: hsl(0, 36%, 70%, .7);
}
.email {
    position: relative;
    margin-bottom: .5rem;
}
form {
    text-align: left;
}
button {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    padding: 0 1.8rem;
    border-radius: 50px;
    border: none;
    color: white;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    box-shadow: 0 20px 25px hsla(0, 24%, 54%, 0.2);
    transition: all 0.3s;
}
button:hover {
    box-shadow: 0 20px 25px hsla(0, 5%, 66%, 0.4);
    background-image: linear-gradient(135deg, hsl(0, 80%, 96%),  hsl(0, 74%, 84%));
}
.icon {
    font-size: 1.2rem;
    font-weight: 400;
}


#invalid {
    padding-left: 2rem;
    font-weight: 400;
    color: red;
    font-size: .8rem;
    display: none;
}
.email img {
    position: absolute;
    width: 1rem;
    right: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
.email.error img {
    display: block;
}
.email.error input[type=text] {
    border: 1.5px solid red;
}

@media screen and (min-width:1027px){
    .container {
        max-width: 100%;
        width: 100%;;
    }
    body {
        padding: 0;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    body::before {
        content: url(images/bg-pattern-desktop.svg);
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        margin: auto;
    }
    .container {
        display: flex;
        z-index: 10;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    .left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .right {
        display: flex;
        flex: 1;
        justify-content: right;
    }
    h1 {
        font-size: 3.5rem;
        letter-spacing: 18px;
    }
    header {
        padding: 4rem 12rem;
        padding-inline:  clamp(2rem, 12.17vw, 18rem);
    }
    header img {
        width: 10rem;
    }
    article {
        text-align: left;
        padding-inline:  clamp(2rem, 12.17vw, 18rem);
    }
    article p {
        line-height: 2;
    }
}